<div class = "action bar">
    <div class = "search-bar">
        <div class="search-container">
            <span class="material-icons">search</span>
            <input type="text" name="search" id="search" placeholder="Search for Anime title, Genre or Streaming service...">
        </div>
        <div class = "sort-dropdown">
            <div class="labels sort-menu">
                <span class="material-icons">sort</span>
                <span class="value" id="sorttext">Score (High - Low)</span>
            </div>
            <div class="dropdown" id="sorters">
                <button id="clickAlphAZ">Title (A - Z)</button>
                <button id="clickAlphZA">Title (Z - A)</button>
                <button id="clickScoreHL">Score (High - Low)</button>
                <button id="clickScoreLH">Score (Low - High)</button>
                <button id="clickDateNO">Updated (New - Old)</button>
                <button id="clickDateON">Updated (Old - New)</button>
            </div>
        </div>
        <div class = "sort-dropdown">
            <div class="labels filter-platform">
                <span class="material-icons">filter_list</span>
                <span class="value">Platform</span>
            </div>
            <div class="dropdown">
                <label class="checkbox-container">Select All<input type="checkbox" id="Select All" id="updateSelect" checked><span class="checkmark"></span></label>
                <label class="checkbox-container">Ani-One<input type="checkbox" id="Ani-One" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">CONtv<input type="checkbox" id="CONtv" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">Crunchyroll<input type="checkbox" id="Crunchyroll" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">GundamInfo<input type="checkbox" id="GundamInfo" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">Muse Asia<input type="checkbox" id="Muse Asia" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">Netflix<input type="checkbox" id="Netflix" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">Prime Video<input type="checkbox" id="Prime Video" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">Youtube<input type="checkbox" id="Youtube" class="filterData"><span class="checkmark"></span></label>
                <label class="checkbox-container">tubiTV<input type="checkbox" id="tubiTV" class="filterData"><span class="checkmark"></span></label>
            </div>
        </div>
    </div>
    <div class = "action-bottom">
        <div class="results"></div>
        <button class = "labels" id="clickFree">View Free</button>
    </div>
</div>

<div id="anime-container" class="anime-container">
</div>

<%= javascript_pack_tag 'Index' %>
<%= javascript_pack_tag 'anime_list' %>